/* Hiding scrollbar*/

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

html {
  font-size: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

header {
  background: url("../image/background.jpg"), rgba(0,0,0,0.5);
  background-blend-mode: darken;
  min-height:100vh;
  background-size: cover;
  background-position: center;
}

footer {
	background: #322626;
	height: 100px; 
}

footer p {
  color: #b6b2b2;
  font-size: 0.7em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

a{
  color: #41a0c5;
  text-decoration: none;
}

a:hover {
  color: #888;
}

.container {
  /*max-width: 1024px; */
  padding: 0 2% 0 2%;
  height: 100%;
}

.welcome {
  position: absolute;
  color: #fff;
  top: 50%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
  height: auto;
  background: rgba(101, 83, 83, 0.5);
  padding-top: 1%;
  color: #fff;
  font-size: 20px;
  padding-bottom: 1%;
  z-index: 9999;
}

.navbar ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  font-size: 1.1em;
}


.navbar li {
  display: inline;
  width:25%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #888;
}

.navbar a:active {
  color: rgb(101, 83, 83);
}

.godown {
  position: absolute;
  bottom: 15px;
  left: 50%;
  align-items: center;
}

.arrow img {
  width: 40px;
}


.about {

	padding-top: 50px;
	padding-left: 7%;
  padding-bottom: 50px;
}

.about img {
  float: left;
  border-style: solid;
  border-color: rgba(101, 83, 83,0.5);
  border-width: 2px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.about h1 {
  color: rgb(78, 63, 63);
  font-size: 1.8em;
}

.about .text {
  padding: 0 7% 0 0; 
  text-align: justify;
}

.about .arrow img {
  color: none;
  border: none;
}

.example {
  background: url("../image/background_examples.jpg"), rgba(0,0,0,0.5);
  background-blend-mode: darken;
  min-height:100vh;
  background-size: cover;
  background-position: center;
}