/* Hiding scrollbar*/

::-webkit-scrollbar { 
    display: none; 
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background: url("../image/background.jpg"), rgba(0,0,0,0.5);
  background-blend-mode: darken;
  min-height:100vh;
  background-size: cover;
  background-position: center;
}

footer {
	background: #e4a3c5;
	height: 20px; 
}

.container {
  width: 100%;
  max-width: 1024px; 
  padding: 0 15px 0 15px;
  margin: 0 auto;
  height: 100%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
  height: auto;
  background: rgba(101, 83, 83, 0.5);
  padding-top: 5px;
  color: #fff;
  font-size: 24px;
  padding-bottom: 5px;
  font-family: 'Alegreya Sans', sans-serif;
}

.welcome {
	color: #fff;
	padding-top: 35vh;
  text-align: center;
}


.navbar ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  font-size: 0.8em;
}

.navbar li {
  display: inline;
  width:25%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #888;
}

a:active {
  color: rgb(101, 83, 83);
}

.godown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 0.8em;
}